<% include partials/header.ejs %>

<div class="container">
  <h2>Registered Successfully</h2>
  <div class="panel panel-default">
	<form method = "POST" action="/registerSuccess" class="form-horizontal">

		<div class="form-group">
			<br>
			<div class="form-group">
	 			<div class="col-sm-10">
  					<label for="next" class="col-sm-2 control-label"> >>
     				</label>
    				<a href="createPortofolio" > Create My Portofolio </a>
				</div>
 	 		</div>
		</form>
 	</div>
</div>

<% include partials/footer.ejs %>
